@{
    ViewBag.Title = "Home Page";
}

@model MyTravel.Models.MyTravelVM

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<p><a href="Trips/Create" class="btn btn-primary">Add new trip</a></p>
<div class="row">
    <div class="col-md-7">
        <h2>International trips</h2>
        <table class="table">
            <tr>
                <th>
                    City
                </th>
                <th>
                    Country
                </th>
                <th>
                    Description
                </th>
                <th>
                    Year
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.InternationalTrips)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-5">
        <h2>Domestic trips</h2>
        <table class="table">
            <tr>
                <th>
                    City
                </th>
                <th>
                    Description
                </th>
                <th>
                    Year
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.DomesticTrips)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
